Repository BinItAI/visdet: changes, and which pre-commit hooks are due for each by the changed paths.
All: skylos, zuban, zuban-apis, zuban-visdet-configs

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ["--maxkb=3000"]
      - id: requirements-txt-fixer
      - id: check-merge-conflict

  # Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.13.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix, --config=pyproject.toml]
        exclude: ^archive/
      # Run the formatter.
      - id: ruff-format
        args: [--config=pyproject.toml]
        exclude: ^archive/

  # Skylos - dead code and security vulnerability detection (local hook)
  - repo: local
    hooks:
      - id: skylos
        name: Skylos (dead code & security scan)
        entry: uv run skylos
        language: system
        types: [python]
        args: [".", "--exclude-folder=tests", "--exclude-folder=archive", "--exclude-folder=configs"]
        stages: [pre-commit]
        pass_filenames: false

  # Zuban type checker (scoped to a single directory)
  - repo: local
    hooks:
      - id: zuban
        name: Zuban type checker (visdet/structures)
        entry: uv run zuban check visdet/structures
        language: system
        types: [python]
        pass_filenames: false
        files: ^visdet/structures/

      - id: zuban-apis
        name: Zuban type checker (visdet/apis)
        entry: uv run zuban check visdet/apis
        language: system
        types: [python]
        pass_filenames: false
        files: ^visdet/apis/

      - id: zuban-visdet-configs
        name: Zuban type checker (visdet/configs)
        entry: uv run zuban check visdet/configs
        language: system
        types: [python]
        pass_filenames: false
        files: ^visdet/configs/

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout

  # Block old-style viscv/visengine imports
  - repo: local
    hooks:
      - id: no-old-style-imports
        name: Block old-style viscv/visengine imports
        entry: bash -c 'git grep -n "^import viscv\|^from viscv\|^import visengine\|^from visengine" -- "*.py" && exit 1 || exit 0'
        language: system
        pass_filenames: false
        always_run: true

  # Disabled pyright due to missing dependencies in pre-commit environment
  # - repo: https://github.com/RobertCraigie/pyright-python
  #   rev: v1.1.405
  #   hooks:
  #     - id: pyright

  # Documentation link checker
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.12.2
    hooks:
      - id: markdown-link-check
        args: ['--config', '.markdown-link-check.json']
        files: ^docs/.*\.md$

Install matplotlib in Modal smoke image
  tools/modal/train_mask_rcnn_coco_smoke.py
Due: skylos

Fix Resize scale type in Modal smoke config
  tools/modal/train_mask_rcnn_coco_smoke.py
Due: skylos

Avoid mask resize mismatch in smoke pipeline
  tools/modal/train_mask_rcnn_coco_smoke.py
Due: skylos

Modal smoke: run a few train iters
  .github/workflows/modal-coco-train-smoke.yml
  .github/workflows/test.yml
  tools/modal/train_mask_rcnn_coco_smoke.py
Due: skylos

fix: remove dead external links from documentation
  docs/about/changelog.md
  docs/index.md
  docs/roadmap.md
  docs/tutorials/customize_runtime.md
  docs/tutorials/data_pipeline.md
  docs/tutorials/how_to.md
  docs/tutorials/init_cfg.md
  docs/tutorials/onnx2tensorrt.md
  docs/tutorials/pytorch2onnx.md
Due: none

style: format train_mask_rcnn_coco_smoke.py with ruff
  tools/modal/train_mask_rcnn_coco_smoke.py
Due: skylos

docs: remove over-hyped dynamic annotations documentation
  CHANGELOG.md
  README.md
  docs/DYNAMIC_ANNOTATIONS.md
  examples/dynamic_annotation_workflow.py
  tests/test_simple_runner_annotation_files.py
  visdet/runner.py
Due: skylos

docs: rewrite optimizer docs with formulas and prose format
  docs/user-guide/optimizers.md
Due: none

test: update test_resize to expect list syntax acceptance
  tests/test_data/test_pipelines/test_transform/test_transform.py
Due: skylos

feat: add HuggingFace checkpoint loading support
  visdet/engine/hub/huggingface.json
  visdet/engine/runner/checkpoint.py
Due: skylos

docs: add mmdetection model support comparison table
  docs/mmdetection_model_support.md
Due: none

fix: correct contributing guide link in mmdetection model support doc
  docs/mmdetection_model_support.md
Due: none

feat: add RetinaNet support and FocalLoss implementation
  tests/test_models/test_forward.py
  tests/test_models/test_retinanet.py
  visdet/models/dense_heads/__init__.py
  visdet/models/dense_heads/base_dense_head.py
  visdet/models/dense_heads/retina_head.py
  visdet/models/detectors/__init__.py
  visdet/models/detectors/retinanet.py
  visdet/models/detectors/single_stage.py
  visdet/models/losses/__init__.py
  visdet/models/losses/focal_loss.py
Due: skylos

feat: add FCOS support and IoULoss implementation
  tests/test_models/test_fcos.py
  visdet/cv/cnn/__init__.py
  visdet/models/dense_heads/__init__.py
  visdet/models/dense_heads/anchor_free_head.py
  visdet/models/dense_heads/fcos_head.py
  visdet/models/detectors/__init__.py
  visdet/models/detectors/fcos.py
  visdet/models/losses/__init__.py
  visdet/models/losses/iou_loss.py
  visdet/models/task_modules/coders/__init__.py
  visdet/models/task_modules/prior_generators/__init__.py
  visdet/models/task_modules/prior_generators/point_generator.py
  visdet/utils/__init__.py
  visdet/utils/misc.py
Due: skylos

feat: add SSD support
  tests/test_models/test_ssd.py
  visdet/models/dense_heads/__init__.py
  visdet/models/dense_heads/ssd_head.py
  visdet/models/detectors/__init__.py
  visdet/models/detectors/ssd.py
Due: skylos

feat: add ATSS support
  tests/test_models/test_atss.py
  visdet/models/dense_heads/__init__.py
  visdet/models/dense_heads/atss_head.py
  visdet/models/detectors/__init__.py
  visdet/models/detectors/atss.py
  visdet/models/task_modules/assigners/__init__.py
  visdet/models/task_modules/assigners/atss_assigner.py
Due: skylos

feat: add GFL support
  tests/test_models/test_gfl.py
  visdet/models/dense_heads/__init__.py
  visdet/models/dense_heads/gfl_head.py
  visdet/models/detectors/__init__.py
  visdet/models/detectors/gfl.py
  visdet/models/losses/__init__.py
  visdet/models/losses/gfocal_loss.py
Due: skylos

feat: add MSELoss implementation
  visdet/models/losses/__init__.py
  visdet/models/losses/mse_loss.py
Due: skylos

feat: add Modal batch inference with FiftyOne integration
  tools/modal/inference_batch.py
  visdet/engine/hub/__init__.py
  visdet/engine/hub/hub.py
  visdet/utils/__init__.py
  visdet/utils/fiftyone_utils.py
Due: skylos

feat: implement suite of two-stage detectors and components (Faster R-CNN, Libra R-CNN, Double Head, Dynamic R-CNN, MS R-CNN)
  ROADMAP.md
  docs/about/contributing.md
  scripts/upload_weights_to_hf.sh
  tests/test_models/test_double_head_rcnn.py
  tests/test_models/test_dynamic_rcnn.py
  tests/test_models/test_libra_components.py
  tests/test_models/test_libra_rcnn.py
  tests/test_models/test_ms_rcnn.py
  tools/migrate_weights_to_huggingface.py
  visdet/models/detectors/__init__.py
  visdet/models/detectors/fast_rcnn.py
  visdet/models/detectors/faster_rcnn.py
  visdet/models/detectors/two_stage.py
  visdet/models/losses/__init__.py
  visdet/models/losses/balanced_l1_loss.py
  visdet/models/losses/mse_loss.py
  visdet/models/necks/__init__.py
  visdet/models/necks/bfp.py
  visdet/models/roi_heads/__init__.py
  visdet/models/roi_heads/bbox_heads/__init__.py
  visdet/models/roi_heads/bbox_heads/double_bbox_head.py
  visdet/models/roi_heads/double_roi_head.py
  visdet/models/roi_heads/dynamic_roi_head.py
  visdet/models/roi_heads/mask_heads/__init__.py
  visdet/models/roi_heads/mask_heads/fcn_mask_head.py
  visdet/models/roi_heads/mask_heads/mask_iou_head.py
  visdet/models/roi_heads/mask_scoring_roi_head.py
  visdet/models/roi_heads/standard_roi_head.py
  visdet/models/task_modules/samplers/__init__.py
  visdet/structures/mask/mask_target.py
Due: skylos, zuban

feat: implement additional anchor-free and YOLO detectors (FSAF, FoveaBox, CenterNet, YOLOv3, YOLOX)
  tests/test_models/test_anchor_free_suite_2.py
  tests/test_models/test_yolo_suite.py
  visdet/models/dense_heads/__init__.py
  visdet/models/dense_heads/centernet_head.py
  visdet/models/dense_heads/fovea_head.py
  visdet/models/dense_heads/fsaf_head.py
  visdet/models/dense_heads/yolo_head.py
  visdet/models/dense_heads/yolox_head.py
  visdet/models/detectors/__init__.py
  visdet/models/detectors/anchor_free_detectors.py
  visdet/models/detectors/yolo_detectors.py
  visdet/models/losses/__init__.py
  visdet/models/losses/gaussian_focal_loss.py
  visdet/models/task_modules/coders/__init__.py
  visdet/models/task_modules/coders/yolo_coder.py
Due: skylos

feat: add DETR components (assigner, transformer, head, detector)
  visdet/models/dense_heads/detr_head.py
  visdet/models/detectors/__init__.py
  visdet/models/detectors/detr.py
  visdet/models/layers/__init__.py
  visdet/models/layers/transformer.py
  visdet/models/task_modules/assigners/__init__.py
  visdet/models/task_modules/assigners/hungarian_assigner.py
  visdet/models/task_modules/assigners/match_costs.py
Due: skylos

docs: add comprehensive loss functions reference
  docs/user-guide/losses.md
  mkdocs.yml
Due: none

fix: resolve ruff lint errors in test files and heads
  tests/test_models/test_atss.py
  tests/test_models/test_fcos.py
  tests/test_models/test_gfl.py
  tests/test_models/test_retinanet.py
  tests/test_models/test_ssd.py
  visdet/models/dense_heads/atss_head.py
  visdet/models/dense_heads/gfl_head.py
Due: skylos

fix: resolve remaining ruff lint errors
  archive/mmdet/models/dense_heads/fsaf_head.py
  archive/mmdet/models/dense_heads/yolact_head.py
  tools/codediff/tests/test_comparator.py
  tools/codediff/tests/test_parser.py
  visdet/models/dense_heads/anchor_free_head.py
  visdet/models/dense_heads/fcos_head.py
  visdet/models/dense_heads/retina_head.py
  visdet/models/dense_heads/ssd_head.py
  visdet/models/detectors/atss.py
  visdet/models/detectors/fcos.py
  visdet/models/detectors/gfl.py
  visdet/models/detectors/retinanet.py
  visdet/models/detectors/single_stage.py
  visdet/models/detectors/ssd.py
  visdet/models/losses/focal_loss.py
  visdet/models/losses/gfocal_loss.py
  visdet/models/losses/iou_loss.py
  visdet/models/losses/mse_loss.py
  visdet/models/task_modules/assigners/atss_assigner.py
  visdet/models/task_modules/prior_generators/point_generator.py
Due: skylos

fix: fix import ordering in codediff test files
  tools/codediff/tests/test_comparator.py
  tools/codediff/tests/test_parser.py
Due: skylos

fix: auto-fix ruff lint errors
  tests/test_models/test_anchor_free_suite_2.py
  tests/test_models/test_atss.py
  tests/test_models/test_fcos.py
  tests/test_models/test_gfl.py
  tests/test_models/test_retinanet.py
  tests/test_models/test_ssd.py
  tests/test_models/test_yolo_suite.py
  tools/codediff/tests/test_comparator.py
  tools/codediff/tests/test_parser.py
  visdet/models/dense_heads/anchor_free_head.py
  visdet/models/dense_heads/atss_head.py
  visdet/models/dense_heads/centernet_head.py
  visdet/models/dense_heads/fcos_head.py
  visdet/models/dense_heads/fovea_head.py
  visdet/models/dense_heads/fsaf_head.py
  visdet/models/dense_heads/gfl_head.py
  visdet/models/dense_heads/retina_head.py
  visdet/models/dense_heads/ssd_head.py
  visdet/models/dense_heads/yolo_head.py
  visdet/models/dense_heads/yolox_head.py
  visdet/models/detectors/anchor_free_detectors.py
  visdet/models/detectors/atss.py
  visdet/models/detectors/fcos.py
  visdet/models/detectors/gfl.py
  visdet/models/detectors/retinanet.py
  visdet/models/detectors/single_stage.py
  visdet/models/detectors/ssd.py
  visdet/models/detectors/yolo_detectors.py
  visdet/models/losses/focal_loss.py
  visdet/models/losses/gaussian_focal_loss.py
  visdet/models/losses/gfocal_loss.py
  visdet/models/losses/iou_loss.py
  visdet/models/losses/mse_loss.py
  visdet/models/task_modules/assigners/atss_assigner.py
  visdet/models/task_modules/coders/yolo_coder.py
  visdet/models/task_modules/prior_generators/point_generator.py
Due: skylos

fix: auto-fix ruff lint errors
  tests/test_models/test_double_head_rcnn.py
  tests/test_models/test_dynamic_rcnn.py
  tests/test_models/test_libra_components.py
  tests/test_models/test_libra_rcnn.py
  tests/test_models/test_ms_rcnn.py
  tools/codediff/tests/test_comparator.py
  tools/codediff/tests/test_parser.py
  visdet/models/detectors/fast_rcnn.py
  visdet/models/detectors/faster_rcnn.py
  visdet/models/losses/balanced_l1_loss.py
  visdet/models/losses/mse_loss.py
  visdet/models/necks/bfp.py
  visdet/models/roi_heads/bbox_heads/double_bbox_head.py
  visdet/models/roi_heads/double_roi_head.py
  visdet/models/roi_heads/dynamic_roi_head.py
  visdet/models/roi_heads/mask_scoring_roi_head.py
Due: skylos

fix: auto-fix ruff lint errors
  tools/codediff/tests/test_comparator.py
  tools/codediff/tests/test_parser.py
Due: skylos

fix: resolve ruff lint errors (E741 ambiguous variable names, F841 unused variables)
  archive/mmdet/models/dense_heads/fsaf_head.py
  archive/mmdet/models/dense_heads/yolact_head.py
  tests/test_models/test_atss.py
  tests/test_models/test_fcos.py
  tests/test_models/test_gfl.py
  tests/test_models/test_retinanet.py
  tests/test_models/test_ssd.py
  tools/codediff/tests/test_comparator.py
  tools/codediff/tests/test_parser.py
  visdet/models/dense_heads/anchor_free_head.py
  visdet/models/dense_heads/atss_head.py
  visdet/models/dense_heads/fcos_head.py
  visdet/models/dense_heads/gfl_head.py
  visdet/models/dense_heads/retina_head.py
  visdet/models/dense_heads/ssd_head.py
  visdet/models/detectors/atss.py
  visdet/models/detectors/fcos.py
  visdet/models/detectors/gfl.py
  visdet/models/detectors/retinanet.py
  visdet/models/detectors/single_stage.py
  visdet/models/detectors/ssd.py
  visdet/models/losses/focal_loss.py
  visdet/models/losses/gfocal_loss.py
  visdet/models/losses/iou_loss.py
  visdet/models/losses/mse_loss.py
  visdet/models/task_modules/assigners/atss_assigner.py
  visdet/models/task_modules/prior_generators/point_generator.py
Due: skylos

fix: resolve ruff lint errors (E741, F841)
  archive/mmdet/models/dense_heads/fsaf_head.py
  archive/mmdet/models/dense_heads/yolact_head.py
  tests/test_models/test_double_head_rcnn.py
  tests/test_models/test_dynamic_rcnn.py
  tests/test_models/test_libra_rcnn.py
  tests/test_models/test_ms_rcnn.py
  visdet/models/roi_heads/mask_scoring_roi_head.py
Due: skylos

fix: resolve prek and test failures
  ROADMAP.md
  tools/migrate_weights_to_huggingface.py
  visdet/models/roi_heads/dynamic_roi_head.py
  visdet/models/roi_heads/mask_scoring_roi_head.py
Due: skylos

fix: fix import sorting in codediff tests
  tools/codediff/tests/test_comparator.py
  tools/codediff/tests/test_parser.py
Due: skylos

ci: auto-commit prek autofixes
  .github/workflows/pre-commit.yml
Due: none
