Repository BinItAI/visdet: changes, and which pre-commit hooks are due for each by the changed paths.
All: skylos, zuban, zuban-apis, zuban-core-mask, zuban-engine-dist, zuban-engine-fileio, zuban-engine-infer, zuban-engine-optimizers, zuban-engine-utils, zuban-utils, zuban-core-anchor, zuban-core-evaluation, zuban-core-hook, zuban-core-bbox, zuban-presets, zuban-testing, zuban-eval-evaluator, zuban-eval-functional, zuban-engine-registry, zuban-engine-structures, zuban-engine-device, zuban-engine-logging, zuban-engine-runner, zuban-engine-model, zuban-engine-dataset, zuban-engine-strategy, zuban-engine-evaluator, zuban-engine-hub

skylos:
  name: Skylos (dead code & security scan)
  entry: uv run skylos
  language: system
  args:
  - .
  - --exclude-folder=tests
  - --exclude-folder=archive
  - --exclude-folder=configs
  stages:
  - pre-commit
  pass_filenames: false

zuban:
  name: Zuban type checker (visdet/structures)
  entry: uv run zuban check visdet/structures
  language: system
  pass_filenames: false

zuban-apis:
  name: Zuban type checker (visdet/apis)
  entry: uv run zuban check visdet/apis
  language: system
  pass_filenames: false

zuban-core-mask:
  name: Zuban type checker (visdet/core/mask)
  entry: uv run zuban check visdet/core/mask
  language: system
  pass_filenames: false

zuban-engine-dist:
  name: Zuban type checker (visdet/engine/dist)
  entry: uv run zuban check visdet/engine/dist
  language: system
  pass_filenames: false

zuban-engine-fileio:
  name: Zuban type checker (visdet/engine/fileio)
  entry: uv run zuban check visdet/engine/fileio
  language: system
  pass_filenames: false

zuban-engine-infer:
  name: Zuban type checker (visdet/engine/infer)
  entry: uv run zuban check visdet/engine/infer
  language: system
  pass_filenames: false

zuban-engine-optimizers:
  name: Zuban type checker (visdet/engine/optimizers)
  entry: uv run zuban check visdet/engine/optimizers
  language: system
  pass_filenames: false

zuban-engine-utils:
  name: Zuban type checker (visdet/engine/utils)
  entry: uv run zuban check visdet/engine/utils
  language: system
  pass_filenames: false

zuban-utils:
  name: Zuban type checker (visdet/utils)
  entry: uv run zuban check visdet/utils
  language: system
  pass_filenames: false

zuban-core-anchor:
  name: Zuban type checker (visdet/core/anchor)
  entry: uv run zuban check visdet/core/anchor
  language: system
  pass_filenames: false

zuban-core-evaluation:
  name: Zuban type checker (visdet/core/evaluation)
  entry: uv run zuban check visdet/core/evaluation
  language: system
  pass_filenames: false

zuban-core-hook:
  name: Zuban type checker (visdet/core/hook)
  entry: uv run zuban check visdet/core/hook
  language: system
  pass_filenames: false

zuban-core-bbox:
  name: Zuban type checker (visdet/core/bbox)
  entry: uv run zuban check visdet/core/bbox
  language: system
  pass_filenames: false

zuban-presets:
  name: Zuban type checker (visdet/presets)
  entry: uv run zuban check visdet/presets
  language: system
  pass_filenames: false

zuban-testing:
  name: Zuban type checker (visdet/testing)
  entry: uv run zuban check visdet/testing
  language: system
  pass_filenames: false

zuban-eval-evaluator:
  name: Zuban type checker (visdet/evaluation/evaluator)
  entry: uv run zuban check visdet/evaluation/evaluator
  language: system
  pass_filenames: false

zuban-eval-functional:
  name: Zuban type checker (visdet/evaluation/functional)
  entry: uv run zuban check visdet/evaluation/functional
  language: system
  pass_filenames: false

docs: update inference guide to visdet APIs
  docs/user-guide/inference.md
  visdet/apis/__init__.py
Due: skylos, zuban-apis

docs: stream FiftyOne inference in batches
  docs/user-guide/inference.md
Due: none

docs: batch FiftyOne inference example
  docs/user-guide/inference.md
Due: none

Revise README for clarity and conciseness
  README.md
Due: none

docs: remove pre-commit tooling list from README
  README.md
Due: none

feat: auto-use all GPUs by default for inference
  tests/test_runtime/test_inference_device_parsing.py
  visdet/apis/inference.py
Due: skylos, zuban-apis

feat: add auto-DDP training support
  .gitignore
  scripts/train_auto_ddp.py
  tests/test_runtime/test_dist_env_fallback.py
  visdet/engine/dist/__init__.py
  visdet/engine/dist/dist.py
  visdet/engine/dist/dist_utils.py
  visdet/engine/dist/utils.py
  visdet/engine/runner/__init__.py
  visdet/engine/runner/auto_train.py
Due: skylos, zuban-engine-dist, zuban-engine-runner

docs: add DoRA to roadmap
  docs/roadmap.md
Due: none

refactor: remove openmmlab package deps from train/test entrypoints
  .github/workflows/release.yml
  .github/workflows/test.yml
  docs/yaml_config_system.md
  pyproject.toml
  scripts/generate_model_zoo.py
  scripts/test_presets_simple.py
  scripts/test_yaml_simple.py
  tools/.ipynb_checkpoints/train-checkpoint.py
  tools/analysis_tools/analyze_logs.py
  tools/analysis_tools/analyze_results.py
  tools/analysis_tools/benchmark.py
  tools/analysis_tools/coco_error_analysis.py
  tools/analysis_tools/coco_occluded_separated_recall.py
  tools/analysis_tools/confusion_matrix.py
  tools/analysis_tools/eval_metric.py
  tools/analysis_tools/get_flops.py
  tools/analysis_tools/optimize_anchors.py
  tools/analysis_tools/robustness_eval.py
  tools/dataset_converters/cityscapes.py
  tools/dataset_converters/images2coco.py
  tools/dataset_converters/pascal_voc.py
  tools/deployment/mmdet2torchserve.py
  tools/deployment/mmdet_handler.py
  tools/deployment/onnx2tensorrt.py
  tools/deployment/pytorch2onnx.py
  tools/deployment/test.py
  tools/misc/.ipynb_checkpoints/browse_dataset-checkpoint.py
  tools/misc/browse_dataset.py
  tools/misc/download_dataset.py
  tools/misc/gen_coco_panoptic_test_info.py
  tools/misc/get_image_metas.py
  tools/misc/print_config.py
  tools/misc/split_coco.py
  tools/model_converters/detectron2pytorch.py
  tools/model_converters/upgrade_model_version.py
  tools/model_converters/upgrade_ssd_version.py
  tools/test.py
  tools/train.py
  visdet/engine/model/utils.py
  visdet/engine/utils/dl_utils/misc.py
Due: skylos, zuban-engine-utils, zuban-engine-model

Path conditions:
  skylos: any of: \.py$
  zuban: any of: ^visdet/structures/ and \.py$
  zuban-apis: any of: ^visdet/apis/ and \.py$
  zuban-core-mask: any of: ^visdet/core/mask/ and \.py$
  zuban-engine-dist: any of: ^visdet/engine/dist/ and \.py$
  zuban-engine-fileio: any of: ^visdet/engine/fileio/ and \.py$
  zuban-engine-infer: any of: ^visdet/engine/infer/ and \.py$
  zuban-engine-optimizers: any of: ^visdet/engine/optimizers/ and \.py$
  zuban-engine-utils: any of: ^visdet/engine/utils/ and \.py$
  zuban-utils: any of: ^visdet/utils/ and \.py$
  zuban-core-anchor: any of: ^visdet/core/anchor/ and \.py$
  zuban-core-evaluation: any of: ^visdet/core/evaluation/ and \.py$
  zuban-core-hook: any of: ^visdet/core/hook/ and \.py$
  zuban-core-bbox: any of: ^visdet/core/bbox/ and \.py$
  zuban-presets: any of: ^visdet/presets/ and \.py$
  zuban-testing: any of: ^visdet/testing/ and \.py$
  zuban-eval-evaluator: any of: ^visdet/evaluation/evaluator/ and \.py$
  zuban-eval-functional: any of: ^visdet/evaluation/functional/ and \.py$
  zuban-engine-registry: any of: ^visdet/engine/registry/ and \.py$
  zuban-engine-structures: any of: ^visdet/engine/structures/ and \.py$
  zuban-engine-device: any of: ^visdet/engine/device/ and \.py$
  zuban-engine-logging: any of: ^visdet/engine/logging/ and \.py$
  zuban-engine-runner: any of: ^visdet/engine/runner/ and \.py$
  zuban-engine-model: any of: ^visdet/engine/model/ and \.py$
  zuban-engine-dataset: any of: ^visdet/engine/dataset/ and \.py$
  zuban-engine-strategy: any of: ^visdet/engine/_strategy/ and \.py$
  zuban-engine-evaluator: any of: ^visdet/engine/evaluator/ and \.py$
  zuban-engine-hub: any of: ^visdet/engine/hub/ and \.py$
