Repository BinItAI/visdet: changes, and which pre-commit hooks are due for each by the changed paths.
All: skylos, zuban, zuban-apis, zuban-visdet-configs

.pre-commit-config.yaml:

fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
        args: ["--maxkb=3000"]
      - id: requirements-txt-fixer
      - id: check-merge-conflict

  # Python hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.13.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix, --config=pyproject.toml]
        exclude: ^archive/
      # Run the formatter.
      - id: ruff-format
        args: [--config=pyproject.toml]
        exclude: ^archive/

  # Skylos - dead code and security vulnerability detection (local hook)
  - repo: local
    hooks:
      - id: skylos
        name: Skylos (dead code & security scan)
        entry: uv run skylos
        language: system
        types: [python]
        args: [".", "--exclude-folder=tests", "--exclude-folder=archive", "--exclude-folder=configs"]
        stages: [pre-commit]
        pass_filenames: false

  # Zuban type checker (scoped to a single directory)
  - repo: local
    hooks:
      - id: zuban
        name: Zuban type checker (visdet/structures)
        entry: uv run zuban check visdet/structures
        language: system
        types: [python]
        pass_filenames: false
        files: ^visdet/structures/

      - id: zuban-apis
        name: Zuban type checker (visdet/apis)
        entry: uv run zuban check visdet/apis
        language: system
        types: [python]
        pass_filenames: false
        files: ^visdet/apis/

      - id: zuban-visdet-configs
        name: Zuban type checker (visdet/configs)
        entry: uv run zuban check visdet/configs
        language: system
        types: [python]
        pass_filenames: false
        files: ^visdet/configs/

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout

  # Block old-style viscv/visengine imports
  - repo: local
    hooks:
      - id: no-old-style-imports
        name: Block old-style viscv/visengine imports
        entry: bash -c 'git grep -n "^import viscv\|^from viscv\|^import visengine\|^from visengine" -- "*.py" && exit 1 || exit 0'
        language: system
        pass_filenames: false
        always_run: true

  # Disabled pyright due to missing dependencies in pre-commit environment
  # - repo: https://github.com/RobertCraigie/pyright-python
  #   rev: v1.1.405
  #   hooks:
  #     - id: pyright

  # Documentation link checker
  - repo: https://github.com/tcort/markdown-link-check
    rev: v3.12.2
    hooks:
      - id: markdown-link-check
        args: ['--config', '.markdown-link-check.json']
        files: ^docs/.*\.md$

fix: apply ruff autofixes
  tools/codediff/tests/test_comparator.py
  tools/codediff/tests/test_parser.py
Due: skylos

ci: add grog wheel install smoke tests
  .github/workflows/grog.yml
  .gitignore
  BUILD.yaml
  grog.toml
  hatch_build.py
  pyproject.toml
  visdet/_ext_demo/__init__.py
Due: skylos

feat: enhance DetInferencer progress bar with detailed metrics and time estimates
  visdet/apis/det_inferencer.py
Due: skylos, zuban-apis

refactor: switch RTMDet to YAML presets
  configs/presets/models/rtmdet_ins_l.yaml
  configs/presets/models/rtmdet_ins_m.yaml
  configs/presets/models/rtmdet_ins_s.yaml
  configs/presets/models/rtmdet_ins_tiny.yaml
  configs/presets/models/rtmdet_ins_x.yaml
  configs/presets/models/rtmdet_l.yaml
  configs/presets/models/rtmdet_m.yaml
  configs/presets/models/rtmdet_s.yaml
  configs/presets/models/rtmdet_tiny.yaml
  configs/presets/models/rtmdet_x.yaml
  configs/rtmdet/metafile.yml
  configs/rtmdet/rtmdet-ins_l_8xb32-300e_coco.py
  configs/rtmdet/rtmdet-ins_m_8xb32-300e_coco.py
  configs/rtmdet/rtmdet-ins_s_8xb32-300e_coco.py
  configs/rtmdet/rtmdet-ins_tiny_8xb32-300e_coco.py
  configs/rtmdet/rtmdet-ins_x_8xb16-300e_coco.py
  configs/rtmdet/rtmdet_ins_l_8xb32_300e_coco.py
  configs/rtmdet/rtmdet_ins_m_8xb32_300e_coco.py
  configs/rtmdet/rtmdet_ins_s_8xb32_300e_coco.py
  configs/rtmdet/rtmdet_ins_tiny_8xb32_300e_coco.py
  configs/rtmdet/rtmdet_ins_x_8xb16_300e_coco.py
  configs/rtmdet/rtmdet_l_8xb32-300e_coco.py
  configs/rtmdet/rtmdet_l_8xb32_300e_coco.py
  configs/rtmdet/rtmdet_m_8xb32-300e_coco.py
  configs/rtmdet/rtmdet_m_8xb32_300e_coco.py
  configs/rtmdet/rtmdet_s_8xb32-300e_coco.py
  configs/rtmdet/rtmdet_s_8xb32_300e_coco.py
  configs/rtmdet/rtmdet_tiny_8xb32-300e_coco.py
  configs/rtmdet/rtmdet_tiny_8xb32_300e_coco.py
  configs/rtmdet/rtmdet_x_8xb32-300e_coco.py
  configs/rtmdet/rtmdet_x_8xb32_300e_coco.py
  model-index.yml
  visdet/apis/det_inferencer.py
  visdet/runner.py
Due: skylos, zuban-apis

test: migrate config-driven tests to YAML presets
  tests/test_data/test_pipelines/test_transform/test_models_aug_test.py
  tests/test_downstream/test_mmtrack.py
  tests/test_models/test_forward.py
  tests/test_models/test_loss_compatibility.py
  tests/test_onnx/test_head.py
  tests/test_runtime/async_benchmark.py
  tests/test_runtime/test_async.py
  tests/test_runtime/test_config.py
Due: skylos

docs: document assigners and variants
  docs/tutorials/config.md
  docs/user-guide/assigners.md
  mkdocs.yml
Due: none

docs: add DeepWiki badge
  README.md
Due: none

docs: add model coverage page
  docs/development/model-coverage.md
  mkdocs.yml
Due: none

refactor: remove visdet/configs
  .pre-commit-config.yaml
  visdet/configs/__init__.py
  visdet/configs/swin/metafile.yml
Due: skylos, zuban-visdet-configs

docs: include all pages in mkdocs nav
  mkdocs.yml
Due: none

chore: remove scratch_pads directory
  scratch_pads/AGENTS.md
  scratch_pads/ANALYSIS_FINDINGS.md
  scratch_pads/CODEDIFF_ANALYSIS.md
  scratch_pads/DOCS_README.md
  scratch_pads/FEATURE_PARITY_GUIDE.md
  scratch_pads/IMPLEMENTATION_SUMMARY.md
  scratch_pads/INTENTIONAL_CHANGES.md
  scratch_pads/README_zh-CN.md
  scratch_pads/REFACTORING_PLAN.md
  scratch_pads/SKYLOS.md
Due: none

feat: infer num_classes from COCO annotations
  configs/models/faster_rcnn_r50.yaml
  configs/models/mask_rcnn_r50.yaml
  configs/models/mask_rcnn_swin_s.yaml
  configs/models/rtmdet_ins_l.yaml
  configs/models/rtmdet_l.yaml
  tests/test_simple_runner_annotation_files.py
  visdet/runner.py
Due: skylos

fix: allow non-contiguous category IDs for COCO compatibility
  tests/test_simple_runner_annotation_files.py
  visdet/runner.py
Due: skylos

docs: add MLflow experiment logs link to README
  README.md
Due: none

Add MLFlow instance link in README
  README.md
Due: none

Add note on training logs importance
  README.md
Due: none

Update Visia logo to 2026 version
  resources/visia-logo-white.svg
Due: none

Update Visia black logo to 2026 version
  resources/visia-logo-black.svg
Due: none

Extract clean Visia 2026 logo for dark backgrounds
  resources/visia-logo-white.svg
Due: none

Update docs logos to Visia 2026 version
  docs/assets/visia-logo-black.svg
  docs/assets/visia-logo-white.svg
  docs/assets/visia-logo.svg
Due: none

Update README.md
  README.md
Due: none

Fix docs deployment to trigger on main branch
  .github/workflows/deploy-docs.yml
Due: none

Update README to streamline information and clarity
  README.md
Due: none

Enhance README with training logs and MLFlow details
  README.md
Due: none

Clean up README by removing duplicate content
  README.md
Due: none

Add stability warning to docs homepage
  docs/index.md
Due: none

docs: move roadmap into docs
  ROADMAP.md
  docs/roadmap.md
  docs/roadmap_spdl.md
Due: none

docs: update model zoo to match YAML presets
  docs/model-zoo.md
Due: none

chore: add zuban models check and typing fixes
  .pre-commit-config.yaml
  pyproject.toml
  visdet/models/backbones/resnet.py
  visdet/models/backbones/resnext.py
  visdet/models/detectors/single_stage.py
  visdet/models/layers/__init__.py
  visdet/models/layers/bbox_nms.py
  visdet/models/layers/csp_layer.py
  visdet/models/layers/normed_predictor.py
  visdet/models/losses/cross_entropy_loss.py
  visdet/models/necks/bfp.py
  visdet/models/necks/cspnext_pafpn.py
  visdet/models/roi_heads/base_roi_head.py
  visdet/models/roi_heads/bbox_heads/bbox_head.py
  visdet/models/roi_heads/bbox_heads/convfc_bbox_head.py
  visdet/models/roi_heads/bbox_heads/double_bbox_head.py
  visdet/models/roi_heads/dynamic_roi_head.py
  visdet/models/roi_heads/mask_heads/fcn_mask_head.py
  visdet/models/roi_heads/mask_heads/mask_iou_head.py
  visdet/models/roi_heads/mask_scoring_roi_head.py
  visdet/models/roi_heads/roi_extractors/base_roi_extractor.py
  visdet/models/roi_heads/roi_extractors/single_level_roi_extractor.py
  visdet/models/task_modules/assigners/assign_result.py
  visdet/models/task_modules/assigners/atss_assigner.py
  visdet/models/task_modules/assigners/dynamic_soft_label_assigner.py
  visdet/models/task_modules/assigners/max_iou_assigner.py
  visdet/models/task_modules/coders/__init__.py
  visdet/models/task_modules/prior_generators/point_generator.py
  visdet/models/task_modules/samplers/__init__.py
  visdet/models/utils/image.py
  visdet/models/utils/res_layer.py
Due: skylos

docs: update installation for uv pip install
  docs/about/contributing.md
  docs/development/contributing.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
Due: none

docs: add blue-sky ideas for experimental directions
  docs/development/blue-sky-ideas.md
Due: none

revert: remove unrelated changes, keep only blue-sky-ideas doc
  .pre-commit-config.yaml
  docs/about/contributing.md
  docs/development/contributing.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  pyproject.toml
  visdet/models/backbones/resnet.py
  visdet/models/backbones/resnext.py
  visdet/models/detectors/single_stage.py
  visdet/models/layers/__init__.py
  visdet/models/layers/bbox_nms.py
  visdet/models/layers/csp_layer.py
  visdet/models/layers/normed_predictor.py
  visdet/models/losses/cross_entropy_loss.py
  visdet/models/necks/bfp.py
  visdet/models/necks/cspnext_pafpn.py
  visdet/models/roi_heads/base_roi_head.py
  visdet/models/roi_heads/bbox_heads/bbox_head.py
  visdet/models/roi_heads/bbox_heads/convfc_bbox_head.py
  visdet/models/roi_heads/bbox_heads/double_bbox_head.py
  visdet/models/roi_heads/dynamic_roi_head.py
  visdet/models/roi_heads/mask_heads/fcn_mask_head.py
  visdet/models/roi_heads/mask_heads/mask_iou_head.py
  visdet/models/roi_heads/mask_scoring_roi_head.py
  visdet/models/roi_heads/roi_extractors/base_roi_extractor.py
  visdet/models/roi_heads/roi_extractors/single_level_roi_extractor.py
  visdet/models/task_modules/assigners/assign_result.py
  visdet/models/task_modules/assigners/atss_assigner.py
  visdet/models/task_modules/assigners/dynamic_soft_label_assigner.py
  visdet/models/task_modules/assigners/max_iou_assigner.py
  visdet/models/task_modules/coders/__init__.py
  visdet/models/task_modules/prior_generators/point_generator.py
  visdet/models/task_modules/samplers/__init__.py
  visdet/models/utils/image.py
  visdet/models/utils/res_layer.py
Due: skylos

feat: add FiftyOne example and multi-GPU inference
  docs/user-guide/inference.md
  tests/test_runtime/test_inference_device_parsing.py
  visdet/apis/inference.py
  visdet/engine/model/__init__.py
  visdet/engine/model/wrappers/__init__.py
  visdet/engine/model/wrappers/distributed.py
Due: skylos, zuban-apis

docs: batch FiftyOne inference example
  docs/user-guide/inference.md
Due: none
